.skills-experience {
    padding: 6rem 2rem 4rem 2rem;
    background: #f9f9f9;
    transition: background 0.3s, color 0.3s;
}

.skills-experience.dark-mode {
    background: #333;
    color: white;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.skills, .experience {
    flex: 1 1 45%;
    margin: 1rem;
    padding: 2rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, color 0.3s;
}

.skills-experience.dark-mode .skills,
.skills-experience.dark-mode .experience {
    background: #444;
    color: white;
    box-shadow: none;
}

.skills-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-row-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.skills-logos img {
    width: 150px;
    height: auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    transition: color 0.3s;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #555;
    transition: color 0.3s;
}

p {
    margin-bottom: 1rem;
    color: #666;
    transition: color 0.3s;
}

.skills-experience.dark-mode h2,
.skills-experience.dark-mode h3,
.skills-experience.dark-mode p {
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
    line-height: 1.6;
}

/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .skills, .experience {
        flex: 1 1 45%;
    }

    .skills-logos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .skills, .experience {
        flex: 1 1 100%;
        margin: 0.5rem 0;
    }

    .skills-logos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-logos {
        grid-template-columns: 1fr;
    }

    .skills-logos img {
        width: 100px;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }
}
